.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.tableContainer {
    margin: 20px;
}

.contentTable{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}

.contentTable thead tr {
    background-color: #45a049;
    color: #fff;
    text-align: left;
    font-weight: bold;
}


.contentTable th, 
.contentTable td {
    padding: 12px 15px;
    
}

.testDiv {
    display: flex;
}

.contentTable th.thForIcons {
    flex: 0 0 120px;

}

.contentTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.contentTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.contentTable tbody tr:last-of-type {
    border-bottom: 2px solid #45a049;
}

.icons {
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
}