.homePageHeader {
    color: #45a049;
    background-color: rgb(255,255,255);
    border-radius: 50px;
    padding: 2vh;
    margin: 4vh;
    margin-bottom: 0;
    text-align: center;
    /* position: absolute; */
    height: auto;
    width: fit-content;
    display: flex;
    align-items: center;
}

.img {
    width: 7.2vh;
    height: 7vh;
    border-radius: 50%;
}

.background {
    background-image: url('../../../public/images/background-photo.jpg');
    /* background-size: cover;
    background-repeat: no-repeat; */
    background-attachment: fixed;
    background-position: center;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    overflow: hidden;
}

